{% extends 'base.html' %}

{% block title %}
    Đổi mật khẩu
{% endblock %}

{% block header %}
    <h1 style="text-align: center">Change Password</h1>
{% endblock %}

{% block content %}
    {% for message in messages %}
        {% if message.tags == "error" %}
            <div class="alert alert-warning">{{ message }}</div>
        {% else %}
            <div class="alert alert-success">{{ message }}</div>
        {% endif %}
    {% endfor %}
    <div class="container" style="width:600px;height:600px">
        <form class="form-signin" method="post">
            {% csrf_token %}
            <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">

            <label for="current_password" class="sr-only">Current Password</label>
            <input autofocus id="current_password" name="current_password" class="form-control" style="margin-bottom: 10px" placeholder="Current Password" required="" type="password">
            <label for="password1" class="sr-only">New Password</label>
            <input id="password1" name="password1" class="form-control" style="margin-bottom: 10px" placeholder="New Password" required="" type="password">
            <label for="password2" class="sr-only">Confirm Password</label>
            <input id="password2" name="password2" class="form-control" placeholder="Confirm Password" required="" type="password">
            <br>
            <div align="center">
                <button style="width: 200px" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
