{% extends 'base.html' %}

{% block title %}
    Trang chủ
{% endblock %}

{% block header %}
    <form class="navbar-form navbar-right" action="" method="get">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Tên phim, diễn viên, đạo diễn" name="search">
        </div>
        <button type="submit" class="btn btn-default">Tìm kiếm</button>
    </form>
{% endblock %}

{% block content %}
    {% for message in messages %}
        <div class="alert alert-info" style="margin-top: 20px">
            <h4>{{ message }}</h4>
        </div>
    {% endfor %}
    <iframe width="50%" height="100%" src="https://drive.google.com/file/d/1nFrQg5dguBfT0K5CptK1cmoWnr1GNHTF/preview" allowfullscreen>
    </iframe>
    <video width="400px" controls>
        <source src="/media/118.mp4" type="video/mp4">
    </video>
    <video width="400px" controls>
        <source src="/media/118.mp4" type="video/mp4">
    </video>
{% endblock %}
